body {
  background-color: #000000;
  padding: 1em;
}
div {
	max-width: 45em;
	margin: 0 calc(50% - 23em);
	width: 100%;
}
h4, h3 {
color: #F7FE01;
display: inline-block;
width: 50%;
text-align: right;
margin: .5em 1em .5em 0;
}
h3 {
	font-size: 1.1em;
	display: block;
	width: 100%;
	text-align: center;
}
h2 {
color: #01FE32;
text-align: center;
}
input{
background-color: #000000;
color: #01FE32;
width: 10em;
}
button {
  	margin: .5em;
  }


@media only screen and (max-width: 750px) {
  div {
  	margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  body {
  	padding: .25em;
  	font-size: 1.1em;
  }
  div {
  	display: block;
  	margin: 0;
  }
}
@media only screen and (max-width: 330px) {
  body {
  	padding: 0;
  }
  input {
  	width: 45%;
  }
  h4 {
  	margin: .25em 3% .25em 0;
  }
}
